.navbar-small{
	size: auto;
	padding-left: 20px;
	padding-right: 50px
}
.toggle-link{
	font-size: x-large;

}
.web-brand{
	font-size: large;
    margin-left: 25%;
    margin-right: 25%;
}
.toggle-link .left-menu-toggle{
	transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
}
.left-menu-toggle{
	position:absolute;
    top:0;
    left:0;
    width: 100px;
   height: 700px;
   padding-left: 10px;
	
}
.left-menu{
	 padding-left: 10px;
}
li.dropdown{
	padding-right: 15px;
}
.nav-large .nav-small{
	top:0px;
}
