.navbar-small{
	size: auto;
	padding-left: 20px;
	padding-right: 50px
}
.toggle-link{
	font-size: x-large;

}
#web-brand-content{
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
}

.web-brand{
	font-size: large;
	text-align: center;
}
.left-menu-toggle{
	position: absolute;
	z-index: 200;
	top: 50px;
	left: -240px;
	width: 220px;
	height: 550px;
	background-color: white;
	transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.left-menu-collapsed{
	transform:translateX(100%);   
    -webkit-transform:translateX(100%);
}
.left-menu{
	 padding-left: 10px;
}
li.dropdown{
	padding-right: 15px;
	right: 0px;
	position: absolute;
	}
.nav-large .nav-small{
	top:0px;
}
.container{
	display:block;
}
