html{
	position: relative;
    min-height: 100%;
    
}
body {
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
   margin: 50px 0 100px;
}
section {
    padding: 75px 0;
}
header{
	height: 150px;
	background-color: #115D9D
}
footer {
   position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
   border-color: black;
   background-color: scrollbar;
}
@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}
