ul.detail-list {
	list-style: outside none none;
	box-sizing: border-box;
	padding-left: 0px;
	
	}
dl{
	width: 100%;
  	overflow: hidden;
  	padding-left: 20px; 
}
dt{
	font-weight: bold;
	width:250px; 
	float:left; 
	margin-right:10px; 
}
dd,dt{
	padding-bottom: 10px;
 	
}
ul.list_info{
	margin-left: 200px;
}
.form-group{
	
}
#personal-list{
	width: 100%;
}
#personal-list li{
	float: left;
	width: 50%;
}
br{
	clear: left;
}
select[name=edu-school]{
	width:70px
}