.custom_navbar_color {
	color: #ffffff;
	background-color: #3b5998;
	font-weight: bold;
}

.custom_color_white {
	color: white;
}

.custom_background_color {
	background-color: #f7f7f7;
}

.custom_sider_bar_color
{
	background-color: #f7f7f7;
}

.custom_menu_background
{
	background-color: #ff0000;
}

.custom_hiden {
    display: none;
}

.custom_font_bold
{
	font-weight: bold;	
	
}

pre {
    white-space: pre-wrap;
}
