.custom_navbar_color {
	color: #ffffff;
	background-color: #3b5998;
	font-weight: bold;
}

.custom_color_white {
	color: white;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}


.custom_background_color {
	background-color: #f7f7f7;
}

.custom_sider_bar_color
{
	background-color: #f7f7f7;
}

.custom_menu_background
{
	background-color: #ff0000;
}

.custom_hiden {
    display: none;
}

.custom_font_bold
{
	font-weight: bold;	
	
}


.custom_margin
{
	margin-right: 10px;
}

.custom_margin_center
{
	margin: auto;
}

.custom_margin_left
{
	margin-left: 3px;	
}
